{% extends 'base.html.twig' %}

{% block title %}Liste des jouets{% endblock %}

{% block body %}
    <h1>Liste des jouets</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Visuel</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Tags</th>
            <th>Accroche</th>
            <th>Price</th>
            <th>actions</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>edit</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><img src="{{ asset('uploads/manuels/' ~ article.picturemain) }}" alt="" width="100px"
                         height="100px"></td>
                <td>{{ article.name }}</td>
                <td>{{ article.category.name }}</td>
                <td>
                    {% for tag in article.getTag() %}
                        {{ tag.name }}
                    {% endfor %}
                </td>
                <td>{{ article.teaser }}</td>
                <td>{{ article.price + article.price * 0.2 }} euros</td>
                <td>
                        <a href="{{ path('article_show', {'id': article.id}) }}">Voir</a>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('article_new') }}" class="btn buttonchristmas">Créer un nouveau</a>
    {% endif %}
{% endblock %}
